#bar {
    height: 50px;
    top: 0px;
    width: 100%;
    position:fixed;
    z-index: 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    height: 5vh;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    color: white;
  }
  
  .active {
    background-color: green;
    color: black
  }